#title {
    color:red;
    font-size: 37px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif

}

#subtitle {
    color: blue;
    font-size: 22;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}